#include <windows.h>


1 VERSIONINFO
FILEVERSION 2,4,0,0
PRODUCTVERSION 2,4,0,0
FILEOS 0x4
FILETYPE 0x1

{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
             VALUE "Comments", "Library for playing mp3, mp2 files\0"
			 VALUE "CompanyName", "Email: zcindori@inet.hr\0"
			 VALUE "FileVersion", "2.4\0"
			 VALUE "FileDescription", "LIBWMP3 library for playing mp3, mp2 files\0"
			 VALUE "InternalName", "libwmp3.dll\0"
			 VALUE "LegalCopyright", "GNU General Public License\0"
			 VALUE "LegalTrademarks", "GNU\0"
			 VALUE "OriginalFilename", "libwmp3.dll\0"
			 VALUE "ProductName", "LIBWMP3\0"
			 VALUE "ProductVersion", "2.4\0" 
		 }
	 }
}
